$secondary-color: #89939a;
$primary-dark-color: #313237;
$gray-icon-color: #b4bdc3;
$light-gray-color: #e2e6e9;

$heder-border: 3px solid #0000;

$section-padding: 152px;
$footer-height: 96px;
$header-height: 64px;

$card-width: 272px;
