@import '../../style_utils/utils';

.CartPage{
  padding: 40px $section-padding 80px;

  &__SectionTitle {
    @extend %section-title;
    margin-bottom: 24px;
  }

  &__BackButton {
    margin-bottom: 16px;
  }

  &__Content {
    display: flex;
  }

  &__Products {
    flex-grow: 1;
  }

  &__Product {
    display: grid;
    grid-template-columns: 16px 104px 1fr 96px 104px;
    align-items: center;
    padding: 24px 40px 24px 24px;
    border: 1px solid $light-gray-color;
    min-width: 128px;
    font-weight: 500;
    color: $primary-dark-color;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__ProductImg {
    width: 80px;
    height: 80px;
    margin-left: 24px;
  }

  &__ProductName {
    margin-left: 24px;
  }

  &__Counter {
    width: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__DelAllProduct {
    width: 16px;
    height: 16px;
    background: url(../../images/close.svg) no-repeat center;

    &:hover {
      background-image: url(../../images/close-active.svg);
    }
  }

  &__DelProduct {
    @extend %shift-button;
    background: url(../../images/minus-active.svg) no-repeat center;

    &--disabled {
      background-image: url(../../images/minus.svg);
      pointer-events: none;
    }
  }

  &__AddProduct {
    @extend %shift-button;
    background: url(../../images/plus-active.svg) no-repeat center;
  }

  &__Price {
    justify-content: end;
    padding-left: 8px;
    margin: 0 0 0 auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: $primary-dark-color;
  }

  &__ShopInfo {
    padding: 24px;
    width: 368px;
    height: 206px;
    border: 1px solid $light-gray-color;
    text-align: center;
    margin-left: 16px;
  }

  &__Total {
    padding-bottom: 24px;
    position: relative;

    &::after {
      content: "";
      @extend %after-line;
    }
  }

  &__TotalPrice {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: $primary-dark-color;
  }

  &__TotalAmount {
    margin-top: 10px;
    font-weight: 500;
  }

  &__BuyButton {
    @extend %shop-button;
    padding: 14px;
    width: 100%;
    margin-top: 24px;
  }
}
