@import '../../style_utils/utils';

.NotFoundPage {
  padding: 40px $section-padding 80px;

  &__title {
    @extend %section-title;
    margin-bottom: 22px;
  }

  &__ToHomePage {
    color: #27AE60;
    font-weight: 600;
    width: fit-content;

    &:hover {
      text-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);;
    }
  }
}
